<div style="position: absolute; top: 10px; right: 10px; z-index: 2; background-color: lightcoral;">
  <select class="navigation_select">
    <option value=""> &lt;выбрать&gt; </option>
    <option value="http://localhost:8080">Главная</option>
    <option value="http://localhost:8080/index">Девис</option>
    <option value="http://localhost:8080/promotion">Мотивационная речь</option>
    <option value="http://localhost:8080/image_mars">Фото Марса</option>
    <option value="http://localhost:8080/astronaut_selection">Форма работодателю</option>
  </select>
</div>
<script src="static/navigation-widget-logic.js">

</script>

